.hs-form-field {
  margin-bottom: 32px;
  font-family: 'Helvetica Neue LT Std', sans-serif;

  input {
    border-bottom: 1px solid #898989;
    outline: none;
    width: 100%;
    font-size: 12px;
    padding: 14px 0px 14px 0px;
    &:focus {
      outline: none;
      border-bottom-color: black;
      &::placeholder {
        color: black;
      }
    }
  }

  input[type='checkbox'] {
    padding: 0px 0px 0px 0px;
    border-bottom: 0px;
    border-radius: 5px;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    accent-color: black; // checked checkbox background
    margin-bottom: 3px;
  }

  input[type='checkbox']:not(:checked) {
    position: relative;
    -moz-appearance: none;
  }

  input[type='checkbox']:not(:checked)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    width: 1.05rem;
    height: 1.05rem;
    background-color: #d9d9d9; // unchecked checkbox background
  }

  textarea {
    border-bottom: 1px solid #898989;
    outline: none;
    width: 100%;
    font-size: 12px;
    padding: 14px 0px 14px 0px;
    &:focus {
      outline: none;
      border-bottom-color: black;
      &::placeholder {
        color: black;
      }
    }
  }
}

.hs-field-desc {
  width: 100%;
  padding-bottom: 30px;
}

.hs-fieldtype-checkbox {
  .input {
    display: flex; /* Display checkboxes items horizontally */
    flex-direction: row;

    li {
      display: inline-block;
      padding-right: 20px;
    }
  }
}

.hs-fieldtype-select {
  width: 100%;
  border-bottom-width: thin;
  border-bottom-color: black;

  .hs-input {
    width: 100%;
    background-color: #ffffff; // AFFECT FIREFOX AND CHROME
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYgOUwxMiAxNUwxOCA5IiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==)
      no-repeat 100% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    height: 2.625rem;
  }
}

.hs-form-checkbox-display {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li.hs-form-checkbox::marker {
  // hide bullet on checkboxes
  content: none;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.hs-error-msgs {
  display: none;
}

.invalid {
  border-bottom-color: red !important;
}

.error {
  border-bottom-color: red !important;
}

.hs-button {
  padding: 10px 24px 6px 24px;
  border: 1px solid black;
  border-radius: 25px;
  font-size: 14px;
  font-family: 'Helvetica Neue LT Std', sans-serif;
  background: white;
  margin-top: 40px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background: black;
    color: white;
  }
}
