body {
	overflow: hidden;
}

.bg-iframe {
	width: 100vw;
	height: 100vh;
	position: absolute;
	overflow: hidden;
	iframe {
		overflow: hidden;
		width: 170vw;
		height: 56.25vw;
		min-height: 100vh;
		min-width: 177.77vh;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
